.nav{
    position: sticky; top: 0;
    z-index: 100;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;/*multilinea*/
    width: 100%;
    background-color: #006D77;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}
.navMenu{
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.navImg{
    float: left;
    max-width: 25px;
    margin: 5px;
}
.navImgCount{
    float: right;
    font-weight: 600;
    color: #E29578;
}
.navTit{
    position: relative;
    float: left;
    margin: 5px;
    font-size: 1.5em;
    letter-spacing: 2px;
    color: #E29578;
    font-weight: 600;
    border: none;
}

.navItem{
    position: relative;
    float: left;
    margin: 5px;
    padding: 8px;
    font-size: 0.7em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #83C5BE;
    color: #EDF6F9;
    border: none;
    border-radius: 4px;
}
.navItem:hover{
    background-color: #EDF6F9;
    color: #83C5BE;
}
.navItemActivo{
    position: relative;
    float: left;
    margin: 5px;
    padding: 8px;
    font-size: 0.7em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #FFDDD2;
    color: #E29578;
    border: none;
    border-radius: 4px;
}
.divSaludo{
    text-align: center;
    color: #E29578;
}

/*CONTAINER*/
.container{
    position: relative;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;/*multilinea*/
    width: 100%;
}
/*CONTAINER*/
/*CARD*/
.card{
    width: 200px;
    height: 250px;
    margin: 30px;
    background-color: rgb(139, 139, 139);
    border-radius: 10px;
    outline: 1px solid rgba(255,255,255,.5);
    outline-offset: -8px;
    box-shadow: 3px 3px 10px rgba(0,0,0,.1);
    position: relative;
    overflow: hidden;
}
.card-image{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .8;
    transition: transform .75s;
}
.card:hover .card-image{
    transform: scale(1.15);
}

.card-title{
    position: absolute;
    left: 15px;
    bottom: 30px;
    font-size: 1.2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0 0 1px rgba(0,0,0,.5);
    color: #EDF6F9;
}
.card-price{
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-size: 1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0 0 2px rgba(0,0,0,.5);
    color: #83C5BE;
}
.card-detalle{
    position: absolute;
    left: 15px;
    bottom: 10px;
    font-size: 1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0 0 2px rgba(0,0,0,.5);
    color: #e0b5a5; 
}
/*CARD*/

/*DETALLE*/

.detalle-container{
    position: relative;
    margin: 10px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    width: 250px;

}
.detalle-img{
    width: 300px;
    border-radius: 5px;
    margin: 10px;
}
.detalle-tit{
    margin: 5px;
    font-size: 1.4rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0 0 1px rgba(0,0,0,.5);
    color: #006D77;
}
.detalle-cat{
    margin: 5px;
    font-size: 1.2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: #f7c2b1;
}
.detalle-tit-sec{
    margin: 10px;
    font-size: 1.6rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0 0 1px rgba(0,0,0,.5);
    color: #83C5BE;
}
.detalle-precio{
    margin: 10px;
    font-size: 1.6rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0 0 1px rgba(0,0,0,.5);
    color: #666666;
}
.detalle-tit-desc{
    margin: 5px;
    font-size: 1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #006D77;
}
.detalle-btn{
    position: relative;
    float: left;
    margin-top: 1px;
    margin: 5px;
    padding: 8px;
    font-size: 0.6em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #006D77;
    color: #EDF6F9;
    border: none;
    border-radius: 6px;
}
.detalle-btn-dat{
    margin: 1px;
    font-size: 1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #666666;
}

/*DETALLE*/

/*CARGA*/
.spin-preloader{
    margin-top: 100px;
	border: 4px solid rgba(0, 0, 0, .1);
	width: 100px;
	height: 100px;
	border-radius:50%;
	border-left-color: #006D77;
	border-right-color: #83C5BE;
	animation: spin 1s ease infinite;
}
@keyframes spin{
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.error-catal-vacio{
    margin-top: 200px;
    margin: 5px;
    font-size: 1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #023b41;
    
}
/*CARGA*/