.nav{
    position: sticky; top: 0;
    z-index: 100;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;/*multilinea*/
    width: 100%;
    background-color: #006D77;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}
.navMenu{
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.navImg{
    float: left;
    max-width: 20px;
    margin: 5px;
}
.navImgCount{
    float: right;
    font-weight: 600;
    color: #E29578;
    font-size: 1em;
    margin: 2px;
}

.navTit{
    position: relative;
    float: left;
    margin: 5px;
    font-size: 1.5em;
    letter-spacing: 2px;
    color: #E29578;
    font-weight: 600;
    border: none;
}

.navItem{
    position: relative;
    float: left;
    margin: 5px;
    padding: 8px;
    font-size: 0.7em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #83C5BE;
    color: #EDF6F9;
    border: none;
    border-radius: 4px;
}
.navItem:hover{
    background-color: #EDF6F9;
    color: #83C5BE;
}
.navItemActivo{
    position: relative;
    float: left;
    margin: 5px;
    padding: 8px;
    font-size: 0.7em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #FFDDD2;
    color: #E29578;
    border: none;
    border-radius: 4px;
}
.tituloComponente{
    margin: 10px;
    font-size: 1.1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #747373;
}

/*CONTAINER*/
.container{
    position: relative;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;/*multilinea*/
    width: 100%;
}
/*CONTAINER*/
/*CARD*/
.card{
    width: 200px;
    height: 250px;
    margin: 30px;
    background-color: rgb(139, 139, 139);
    border-radius: 10px;
    outline: 1px solid rgba(255,255,255,.5);
    outline-offset: -8px;
    box-shadow: 3px 3px 10px rgba(0,0,0,.1);
    position: relative;
    overflow: hidden;
}
.card-image{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .8;
    transition: transform .75s;
}
.card:hover .card-image{
    transform: scale(1.15);
}

.card-title{
    position: absolute;
    left: 15px;
    bottom: 30px;
    font-size: 1.2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0 0 1px rgba(0,0,0,.5);
    color: #EDF6F9;
}
.card-price{
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-size: 1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0 0 2px rgba(0,0,0,.5);
    color: #83C5BE;
}
.card-detalle{
    position: absolute;
    left: 15px;
    bottom: 10px;
    font-size: 1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0 0 2px rgba(0,0,0,.5);
    color: #e0b5a5; 
}
/*CARD*/

/*DETALLE*/

.detalle-container{
    position: relative;
    margin: 10px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    width: 250px;

}
.detalle-img{
    width: 300px;
    border-radius: 5px;
    margin: 10px;
}
.detalle-tit{
    margin: 5px;
    font-size: 1.4rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0 0 1px rgba(0,0,0,.5);
    color: #006D77;
}
.detalle-cat{
    margin: 5px;
    font-size: 1.2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: #f7c2b1;
}
.detalle-tit-sec{
    margin: 10px;
    font-size: 1.8rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0 0 1px rgba(0,0,0,.5);
    color: #83C5BE;
}
.detalle-precio{
    margin: 10px;
    font-size: 1.8rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0 0 1px rgba(0,0,0,.5);
    color: #666666;
}
.detalle-tit-desc{
    margin: 10px;
    text-align: justify;
    font-size: 1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #006D77;
}
.detalle-prod-agrega{
    margin: 3px;
    font-size: 0.8rem;
    font-style: italic;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0499a7;
}
.detalle-btn{
    position: relative;
    float: left;
    margin-top: 1px;
    margin: 5px;
    padding: 8px;
    font-size: 0.6em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #006D77;
    color: #EDF6F9;
    border: none;
    border-radius: 6px;
}
.detalle-btn:hover{
    background-color: #0494a1;
    color: #cfdadd;
}
.detalle-btn-dat{
    display: inline;
    margin: 1px;
    font-size: 1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #666666;
}

/*DETALLE*/

/*CARGA*/
.spin-preloader{
    margin-top: 100px;
	border: 4px solid rgba(0, 0, 0, .1);
	width: 100px;
	height: 100px;
	border-radius:50%;
	border-left-color: #006D77;
	border-right-color: #83C5BE;
	animation: spin 1s ease infinite;
}
@keyframes spin{
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.error-catal-vacio{
    margin-top: 200px;
    margin: 5px;
    font-size: 1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #023b41;
    
}
/*CARGA*/
/*BOTON*/
.btnAgregarCarro{
    position: relative;
    float: left;
    margin: 2px;
    padding: 8px;
    font-size: 0.8em;
    font-weight: 300;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #FFDDD2;
    color: #E29578;
    border: 1px solid #E29578;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    align-content: center;/*multilinea*/
}
.btnAgregarCarro:hover {
    background-color: #E29578;
    border: 1px solid #FFDDD2;
    color: #FFDDD2;
}
.btnTerminarCompra{
    position: relative;
    float: left;
    margin: 2px;
    padding: 8px;
    font-size: 0.8em;
    font-weight: 600;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #006D77;
    color: #83C5BE;
    border: none;
    border-radius: 4px;
}
.btnTerminarCompra:hover{
    background-color: #49a8b1;
    color: #1e615a;
}
.btnEliminarCompra{
    position: relative;
    float: left;
    margin: 2px;
    padding: 8px;
    font-size: 0.8em;
    font-weight: 600;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #c57f7d;
    color: #eff0f0;
    border: none;
    border-radius: 4px;
}
.btnEliminarCompra:hover{
    background-color: #be4440;
    color: #eff0f0;
}
/*BOTON*/

/*CARRITO*/
.cartDetalle{
    position: relative;
    margin: 10px 30px;
    border-radius:5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;/*multilinea*/
    width: 100%;
    background-color: #EDF6F9;
    box-shadow: 2px 2px 2px 1px rgba(201, 200, 200, 0.4);
}
.itemCartDetalle{
    font-weight: 500;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #015961;
    font-size: 1rem;
    position: relative;
    margin: 5px;
    padding: 5px;
    align-content:center;
}
.itemTitCartDetalle{
    font-weight: 300;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #04b7c7;
    font-size: 1rem;
    position: relative;
    margin: 5px;
    padding: 5px;
    align-content:center;
}
.navCarBtn{
    background-color: #FFDDD2;
    padding: 2px;
    border-radius: 4px;
}
.navCarBtn:hover{
    background-color: #fabfab;
    padding: 2px;
    border-radius: 4px;
}
.cartMensaje{
    margin: 10px;
    text-align: center;
    font-size: 1.1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #014349;
}

.frmCarro{
    margin: 10px;
    padding: 30px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;/*multilinea*/
    max-width: 200px;
    background-color: #ddf8f6;
    border-radius: 10px;

}
.frmCarroInput{
    position: relative;
    padding: 8px;
    margin: 8px 20px;
    border-radius: 10px;
    border: 1px solid #83C5BE;
    
}
.btnEnviarOrden{
    position: relative;
    float: left;
    margin: 5px;
    padding: 10px;
    font-size: 0.9em;
    font-weight: 600;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #83C5BE;
    color: #eff0f0;
    border: none;
    border-radius: 4px;
}
.btnEnviarOrden:hover{
    background-color: #006D77;
    color: #eff0f0;
}
.btnGenerarOrden{
    position: relative;
    float: left;
    margin: 5px;
    padding: 10px;
    font-size: 0.9em;
    font-weight: 600;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #E29578;
    color: #eff0f0;
    border: none;
    border-radius: 4px;
}
.btnGenerarOrden:hover{
    background-color: #FFDDD2;
    color: #E29578;
}
.resumOrden{
    margin: 10px;
    padding: 30px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    align-content: center;/*multilinea*/
    max-width: 200px;
    background-color: #fdf2ee;
    border-radius: 10px;

}
.resumOrdenLabel{
    margin: 6px 20px;
    position: relative;
    font-size: 0.8rem;
    font-weight: 900;
    padding: 8px;
    border-radius: 10px;
    border: 0px solid #83C5BE;
    
}
.listaOrden{
    list-style: none;
    justify-content: flex-start;
    margin: 10px;
    padding: 30px;
    font-size: 0.8rem;
    background-color: #fce2d8;
    border-radius: 10px;
}
/*CARRITO*/